<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="20%">申報日期</th>
        <th width="20%">財產種類</th>
        <th width="20%">價額</th>
        <th width="20%">項/件</th>
        <th width="20%">所有人</th>
    </tr>
</thead>
<tbody>
    {% for obj in objs %}
    <tr>
        <td width="20%">{{obj.report.report_at|date:"Y-m-d"}}</td>
        <td width="20%">{{obj.name}}</td>
        <td width="20%"><p class="text-right">{{obj.total}}</p></td>
        <td width="20%"><p class="text-right">{{obj.quantity}}</p></td>
        <td width="20%">{{obj.owner}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="20%">申報日期</th>
        <th width="20%">財產種類</th>
        <th width="20%">價額</th>
        <th width="20%">項/件</th>
        <th width="20%">所有人</th>
    </tr>
</tfoot>
