<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="25%">申報日期</th>
        <th width="25%">折合新臺幣總額</th>
        <th width="25%">幣別</th>
        <th width="25%">所有人</th>
    </tr>
</thead>
<tbody>
    {% for obj in report.list %}
    <tr>
        <td width="25%">{{obj.report.report_at|date:"Y-m-d"}}</td>
        <td width="25%"><p class="price text-right">{{obj.total|floatformat}}</p>元</td>
        <td width="25%">{{obj.currency}}</td>
        <td width="25%">{{obj.owner}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="25%">申報日期</th>
        <th width="25%">折合新臺幣總額</th>
        <th width="25%">幣別</th>
        <th width="25%">所有人</th>
    </tr>
</tfoot>
