<thead>
    <tr style="background-color: #FFEEFF;">
        <th width="25%">申報日期</th>
        <th width="25%">保險公司</th>
        <th width="25%">保險名稱</th>
        <th width="25%">要保人</th>
    </tr>
</thead>
<tbody>
    {% for obj in report.list %}
    <tr>
        <td width="25%">{{obj.report.report_at|date:"Y-m-d"}}</td>
        <td width="25%">{{obj.company}}</td>
        <td width="25%">{{obj.name}}</td>
        <td width="25%">{{obj.owner}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr style="background-color: #FFEEFF;">
        <th width="25%">申報日期</th>
        <th width="25%">保險公司</th>
        <th width="25%">保險名稱</th>
        <th width="25%">要保人</th>
    </tr>
</tfoot>
