{% extends "common/person_info.html" %}
{% load staticfiles %}

{% block title %}
    <title>無申報紀錄</title>
    <meta property="og:title" content="無申報紀錄"/>
    <meta itemprop="name" content="無申報紀錄">
{% endblock title %}

{% block person_detail %}
    <h3 class="text-error">{{name}}的申報記錄沒有上網公告，須親至監察院現場查詢紙本</h3>
    <h4>公職人員財產申報法第 6 條，在 2007 年修過，2008 年施行，2008年後任職的議員的財產申報依法不需上網公告，詳請見<a href="http://law.moj.gov.tw/LawClass/LawAll.aspx?PCode=I0070005">修法過程</a>或見下圖
</h4>
    <img src="{% static "img/property_law_histroy.jpg" %}">
{% endblock person_detail %}

{% block script %}
    {{ block.super }}
{% endblock script %}
