{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    {% if reports and cht %}
        <title>{{person.name}}的{{cht}}申報紀錄</title>
        <meta property="og:title" content="{{person.name}}的{{cht}}申報紀錄"/>
        <meta itemprop="name" content="{{person.name}}的{{cht}}申報紀錄">
    {% elif reports %}
        <title>{{person.name}}的財產申報總覽</title>
        <meta property="og:title" content="{{person.name}}的財產申報總覽"/>
        <meta itemprop="name" content="{{person.name}}的財產申報總覽">
    {% else %}
        <title>財產申報紀錄</title>
        <meta property="og:title" content="財產申報紀錄"/>
        <meta itemprop="name" content="財產申報紀錄">
    {% endif %}
{% endblock title %}

{% block person_detail %}
    <h3>{{person.name}}<small>（{{person.department}}-{{person.title}}）</small>的財產申報總覽</h3>
    <p>本站資料收集僅供學術交流使用，嚴禁營利、徵信，或其他不正當目的之使用</p>
    <div class="text-right">
        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#nonresponse">展開官方下載連結 <b class="caret"></b></button>
        <div id="nonresponse" class="collapse">
            <br>
            <table class="table table-bordered zebra" >
                <thead>
                    <tr>
                        <th style="background-color: #CCFFCC;width: 20%">申報日期</th>
                        <th style="background-color: #CCFFCC;width: 20%">部會</th>
                        <th style="background-color: #CCFFCC;width: 20%">職稱</th>
                        <th style="background-color: #CCFFCC;width: 20%">申報種類</th>
                        <th style="background-color: #CCFFCC;width: 20%">下載連結</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                        <tr>
                            {% if report.report_at %}
                                <td style="text-align:center; vertical-align:middle;">{{report.report_at|date:"Y-m-d"}}</td>
                            {% else %}
                                <td style="text-align:center; vertical-align:middle;">~{{report.journal.date|date:"Y-m-d"}}</td>
                            {% endif %}
                            <td style="text-align:center; vertical-align:middle;">{{report.department}}</td>
                            <td style="text-align:center; vertical-align:middle;">{{report.title}}</td>
                            <td style="text-align:center; vertical-align:middle;">{{report.category}}</td>
                            <td style="text-align:center; vertical-align:middle;">
                            {% if report.report_at %}
                                <a href="{{report.download_url}}" target="_blank">下載檔案</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <table class="table table-bordered sortable" >
        <thead>
            <tr>
                <th rowspan=2 style="background-color: #CCFFCC;width: 10%">財產種類</th>
                <th colspan="{{date_union|length}}" style="background-color: #CCFFCC;width: 90%">申報日期</th>
            </tr>
            <tr style="background-color: #CCFFFF;">
            {% for date in date_union %}
                <th>{{date|date:"Y-m-d"}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for category in summaries %}
            {% for summary in category %}
                {% with index=summary.index %}
                {% ifchanged index %}
                </tr><tr>
                    <td style="text-align:center; vertical-align:middle;"><a href="{% url 'people:personal_property' name=person.name index=index %}"><h4>{{index|personal_property_summary:'cht'}}</h4></a></td>
                {% endifchanged %}
                {% if summary.count %}
                    <td style="text-align:center; vertical-align:middle;">
                        {{summary.count}}{{index|personal_property_summary:'count_unit'}}
                        {% if summary.total %}
                        <br><abbr title="{{ summary.total|floatformat }}"><span class="{{index|personal_property_summary:'zhutil_unit'}}">{{summary.total}}</span></abbr>{{index|personal_property_summary:'total_unit'}}
                        {% endif %}
                        {% if index|personal_property_summary:'remark' %}
                        &nbsp;({{summary.total|multiply:0.3025|floatformat}}坪)
                        {% endif %}
                    </td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% endwith %}
            {% endfor %}
        {% empty %}
        <p class="lead text-error">官方沒有提供可以數位解析的資料(廉政專刊電子報目前只開放2009/05/25之後的資料，<a href="http://sunshine.cy.gov.tw/GipOpenWeb/wSite/lp?ctNode=442">詳請見</a>)</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock person_detail %}

{% block script %}
    <link href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
        $(document).ready( function() {
            $('#datatable').dataTable({
                "sDom": "<'row'<'span6'f><'span6'i>r>t",
                "sPaginationType": "bootstrap",
                "sScrollY": "400px",
                "bPaginate": false,
                "aaSorting": [[0, "desc"]]
            });
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '億', extra_decimal: 2});
                $(ele).replaceWith(zh_number)
            })
            $('.area').each(function(index,ele){
                var number = $(ele).text()
                , zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 2});
                $(ele).replaceWith(zh_number)
            })
        });
    </script>
    {{ block.super }}
{% endblock script %}
